@import "./variables.less";

html, body {
  margin: 0;
  padding: 0;
}
  
h1,
h2 {
  font-family: @font;
  padding: 10px 0;
  color: @black-text;
}

p {
  font-size: @p-size;
  font-weight: @font-w;
  color: @black-text;
}

.navbar {
  background-color: @yellow;
  padding: 40px 100px;
}

.red {
  color: @red;
  text-transform: uppercase;
  font-weight: @font-weight;
  font-family: @font;
}

header {
  color: @black-text;
  font-family: @font;
  font-size: @font-size;
  font-weight: @font-weight;
}

.container-fluid {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
  url("img/banner-bg.png") center;
  height: 50%;
    .logo {
      text-align: center;
      padding: 100px 0;
    }
}

main {
  .row {
    padding: 40px 100px;
  }
  .col-sm-4 {
    text-align: center;
    padding: 40px 0;
  }
  #rowww {
    background-color: @white;
  }
}

.button {
  border: none;
  padding: 16px 32px;
  display: inline-block;
  text-transform: uppercase;
  font-family: @font;
  font-weight: @font-weight;
  border-radius: @font-size;
  background-color: @yellow; 
  margin: 4px 2px;
  color: @black-text; 
}

footer {
  padding: 15px;
  text-align: center;
  background-color: @black;
  border-top: 10px solid @yellow;
}